<h2>Listing Tours</h2>

<%= form_tag tours_path, method: :get do %>
  <p>
    <%= text_field_tag :q, params[:q] %>
    <%= submit_tag "Search", name: nil, class: "btn btn-mini btn-success" %>
  </p>
<% end %>
 
<table class="table table-hover">
  <tr>
    <th>Cost $</th>
    <th>Tour</th>
    <th>Direction</th>
    <th>Counrty</th>
    <th>Summary</th>
    <th>Go</th>
  </tr>
 
<% @tours.each do |tour| %>
  <tr>
    <td><%= tour.cost %></td>
    <td><%= tour.name %></td>
    <td><%= tour.direction %></td>
    <td><%= tour.country %></td>
    <td><%= tour.summary %></td>
    <td><%= link_to '>>', tour %></td>
  </tr>
<% end %>
</table>

