<h2>Listing Tours</h2>

<!--
<form action="/tours" method="get" id="search_form">
  Search:<input type="text" name="query">
  <input type="submit">
</form>
<br />
<select name="engine" form="search_form">
  <option value="sphinx">Sphinx</option>
  <option value="elastic">Elastic</option>
</select>
-->

<%= form_tag tours_path, method: :get do %>
  <p>
  <%= text_field_tag :query %>
  <%= select_tag "engine", options_for_select(["elastic", "sphinx"]) %>
  <%= submit_tag "Search", name: nil, class: "btn btn-mini btn-success" %>
<% end %>

<table class="table table-hover">
  <tr>
    <th>Cost $</th>
    <th>Tour</th>
    <th>Direction</th>
    <th>Counrty</th>
    <th>Summary</th>
    <th>Go</th>
  </tr>
 
<% @tours.each do |tour| %>
  <tr>
    <td><%= tour.cost %></td>
    <td><%= tour.name %></td>
    <td><%= tour.direction %></td>
    <td><%= tour.country %></td>
    <td><%= tour.summary %></td>
    <td><%= link_to '>>', tour %></td>
  </tr>
<% end %>
</table>

